{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="card">
        <div class="card-body">
            <!-- タイトルを表示 -->
            <h5 class="card-title">タイトル: {{ post.title }}</h5>
            <!-- 今日の頑張ったことを表示 -->
            <p class="card-text"><strong>今日の頑張ったこと:</strong> {{ post.efforts }}</p>
            <!-- 自分への励ましを表示 -->
            <p class="card-text"><strong>自分への励まし:</strong> {{ post.encouragement }}</p>
             <!-- 編集と削除ボタンを追加 -->
            {% if request.user == post.user %}
            <a href="{% url 'post_edit' post.pk %}" class="btn btn-custom float-right">Edit</a>
            <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a>
             {% endif %}
            <!-- いいねボタン -->
    <div class="like-section">    
        <form action="{% url 'toggle_like' post.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="heart-button">
                <i class="{{ user_likes_post|yesno:'fas fa-heart text-danger,far fa-heart' }}"></i>
            </button>
            <span>{{ post.likes.count }} Likes</span>
        </form>
    </div>
</div>
{% endblock %}
