{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 style="margin-top: 85px;">New Post</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {% for field in form %}
        {% if field.name == 'is_public' %}
        <!-- is_public チェックボックスを水平に配置 -->
        <div class="form-group form-check">
            {{ field }} <!-- チェックボックス本体 -->
            <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        {% else %}
        <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-custom">Submit</button>
    </form>
</div>
{% endblock %}
