{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>New Post</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">タイトル</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="id_efforts">今日の頑張ったこと</label>
            {{ form.efforts }}
        </div>
        <div class="form-group">
            <label for="id_encouragement">今日頑張った自分への褒め言葉</label>
            {{ form.encouragement }}
        </div>
        <div class="form-group form-check">
            <label class="form-check-label" for="id_is_public">
                {{ form.is_public }} 公開する
            </label>
        </div>
    <button type="submit" class="btn btn-custom float-right">Submit</button>
</form>
{% endblock %}


