{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 style="margin-top: 85px;">Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                </label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-custom">Change Password</button>
    </form>
</div>
{% endblock %}