{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 style="margin-top: 85px;">Login</h2>
    <form method="post" class="center-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
        <button type="submit" class="btn btn-custom">Login</button>
        </div>
        {% if form.errors %}
        <ul class="errorlist">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}    
    </form>
</div>
{% endblock %}
